<div class="jumbotron">
    <h3>Edit Bug</h3>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="panel panel-success">
      <div class="panel-heading">Edit Bug</div>
      <div class="panel-body col-sm-6">
        <%= render  "form"  %>
      </div>
    </div>
  </div>
</div>

